@model List<CasoPracticoWeb.Entities.ComentarioDTO>

@{
    ViewData["Title"] = "Consultar Comentario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<section class="section__container job__container" id="job">
    <h2 class="section__header"><span>Comentarios</span></h2>
    <div class="job__grid">
        @foreach (var item in Model) {
            <div class="job__card">
                <div class="job__card__header">
                    <div>
                        <h5>@item.Nombre</h5>
                        <h6>@item.comentario</h6>
                    </div>
                </div>
                <div class="job__card__footer">
                    <span>Rating: @item.rating</span>
                </div>
            </div>
        }
    </div>
</section>