@model CasoPracticoWeb.Entities.ComentarioEnt
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Nav = 1;
}

<div class="comment">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text h6">Ingrese una reseña sobre esta empresa</p>
            <textarea name="text" cols="32" rows="10" placeholder="Ingresa tu opinión en esta área:"></textarea>
            <div class="rating">
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
                <i class="bi bi-star-fill star"></i>
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</div>