@model InfoBretesWeb.Entities.UserEnt

<div class="container__form" style="height: 45vh;">
    <form asp-action="Register">
        <h2>Registro</h2>
        <div class="content">
            <div class="input-box">
                <label asp-for="Nombre">Nombre completo</label>
                <input type="text" placeholder="Ingresa tu nombre completo" asp-for="Nombre" />
            </div>
            <div class="input-box">
                <label asp-for="Email">Correo Electronico</label>
                <input type="text" placeholder="Ingresa tu correo" asp-for="Email" />
            </div>
            <div class="input-box">
                <label asp-for="Password">Contraseña</label>
                <input type="text" placeholder="Ingresa tu contraseña" asp-for="Password" />
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Registrar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
