@model InfoBretesWeb.Entities.UserEnt

@{
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<div class="container__form" style="height: 50vh;">
    <form asp-action="UpdateProfile">
        <h2>Actualizar informacion</h2>
        <div class="content">
            <div class="input-box" hidden>
                <label asp-for="IdUsuario">Id Usuario</label>
                <input type="text" asp-for="IdUsuario" />
            </div>
            <div class="input-box">
                <label asp-for="Nombre">Nombre completo</label>
                <input type="text" placeholder="Ingresa tu nombre completo" asp-for="Nombre" />
            </div>
            <div class="input-box">
                <label asp-for="Email">Correo Electronico</label>
                <input type="text" placeholder="Ingresa tu correo" asp-for="Email" />
            </div>
            <div class="input-box" hidden>
                <label asp-for="Password">Contraseña</label>
                <input type="text" placeholder="Ingresa tu contraseña" asp-for="Password" />
            </div>
            <div class="input-box" hidden>
                <label asp-for="FechaRegistro">Fecha Registro</label>
                <input type="text" asp-for="FechaRegistro" />
            </div>
            <div class="input-box">
                <label asp-for="Direccion">Direccion</label>
                <input type="text" asp-for="Direccion" />
            </div>
            <div class="input-box" hidden>
                <label asp-for="IdTipo">Id Tipo</label>
                <input type="text" asp-for="IdTipo" />
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Actualizar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
