@model InfoBretesWeb.Entities.EmpleadosEnt

<div class="container__form" style="height: 55vh;">
    <form asp-action="CreaEmpleado">
        <h2>Registrar empleado</h2>
        <div class="content">
            <div class="input-box">
                <label>Link del curriculum</label>
                <input type="text" placeholder="Ingresa el link" asp-for="linkCurriculum" />
            </div>
            <div class="input-box">
                <label>Telefono</label>
                <input type="text" placeholder="Ingresa el telefono" asp-for="telefono" />
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Registrar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>
