@model CasoPracticoWeb.Entities.PuestosTrabajoEnt

@{
    ViewData["Title"] = "Actualizar PuestosTrabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container__form" style="height: 55vh;">
    <form asp-action="ActualizarPuestosTrabajo">
        <h2>Registrar oferta</h2>
        <div class="content">
            <div class="input-box" hidden>
                <label>Id del puesto de trabajo</label>
                <input type="text" placeholder="Ingresa el id del puesto" asp-for="idPuesto" />
            </div>
            <div class="input-box">
                <label>Id de la empresa</label>
                <input type="text" placeholder="Ingresa el id de la empresa" asp-for="idEmpresa" />
            </div>
            <div class="input-box">
                <label>Titulo</label>
                <input type="text" placeholder="Ingresa el titulo de la oferta" asp-for="titulo" />
            </div>
            <div class="input-box">
                <label>Descripcion</label>
                <input type="text" placeholder="Ingresa la descripcion de la oferta" asp-for="descripcion" />
            </div>
            <div class="input-box">
                <label>Requisitos</label>
                <input type="text" placeholder="Ingresa los requisitos de la oferta" asp-for="requisitos" />
            </div>
            <div class="input-box">
                <label>Tipo de Empleo</label>
                <input type="text" placeholder="Ingresa el tipo de empleo" asp-for="tipoEmpleo" />
            </div>
            <div class="input-box">
                <label>Ubicacion</label>
                <input type="text" placeholder="Ingresa la ubicacion" asp-for="ubicacion" />
            </div>
            <div class="input-box">
                <label>Salario</label>
                <input type="text" placeholder="Ingresa el salario" asp-for="salario" />
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Actualizar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
