@model CasoPracticoWeb.Entities.PuestosTrabajoEnt

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal para Registrar PuestosTrabajo -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalRegistrarPuestosTrabajoLabel">Registrar PuestosTrabajo</h5>
        </div>
        <div class="modal-body">
            <form asp-action="RegistrarPuestosTrabajo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="idEmpresa" class="control-label"></label>
                    <input asp-for="idEmpresa" class="form-control" />
                    <span asp-validation-for="idEmpresa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="titulo" class="control-label"></label>
                    <input asp-for="titulo" class="form-control" />
                    <span asp-validation-for="titulo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="descripcion" class="control-label"></label>
                    <input asp-for="descripcion" class="form-control" />
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="requisitos" class="control-label"></label>
                    <input asp-for="requisitos" class="form-control" value="0"  />
                    <span asp-validation-for="requisitos" class="text-danger"></span>
                </div>

                <div class="form-group text-right">
                    <a asp-action="ConsultarPuestosTrabajo" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
