@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InfoBretes</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CasoPracticoWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/updateprofile.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a asp-action="Index" asp-controller="Home" class="logo">Info<span>Bretes</span></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            @if (!User.Identity!.IsAuthenticated) {
                <li><a asp-controller="Home" asp-action="Login">Login</a></li>
                <li><a asp-controller="Home" asp-action="Register">Register</a></li>
            } else {
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="PuestosTrabajo" asp-action="ConsultarPuestosTrabajo">Ofertas</a></li>
                <li><a asp-controller="Empresas" asp-action="ConsultarEmpresas">Empresas</a></li>
                <li><a asp-controller="Postulaciones" asp-action="ConsultarPostulacionPorEmpleado">Mis Postulaciones</a></li>
                <li>
                    <a asp-controller="Home" asp-action="Profile">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket" style="color: #ff3c41;"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <div class="footer__logo">
                    <a asp-action="Index" asp-controller="Home" class="logo">Info<span>Bretes</span></a>
                </div>
                <p>
                    Nuestra plataforma esta diseñada para ayudarte a encontrar tu
                    trabajo ideal para asi tus sueños profesionales.
                </p>
            </div>
            <div class="footer__col">
                <h4>Indice</h4>
                <ul class="footer__links">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="PuestosTrabajo" asp-action="ConsultarPuestosTrabajo">Ofertas</a></li>
                    <li><a asp-controller="Empresas" asp-action="ConsultarEmpresas">Empresas</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Siguenos en:</h4>
                <ul class="footer__links">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Contactanos</h4>
                <ul class="footer__links">
                    <li>
                        <a href="#">
                            <span><i class="ri-phone-fill"></i></span> +506 6247 5123
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><i class="ri-map-pin-2-fill"></i></span> San Jose, Costa Rica
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bar">
            Programacion Avanzada en Web
        </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
