@model InfoBretesAPI.Models.PostulacionEnt


@{
    ViewData["Title"] = "Actualizar Postulaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalActualizarPostulacionesLabel">Actualizar Postulaciones</h5>
        </div>
        <div class="modal-body">
            <form asp-action="Actualizar Postulaciones">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="idPostulacion" class="control-label"></label>
                    <input asp-for="idPostulacion" class="form-control" />
                    <span asp-validation-for="idPostulacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="idPuesto" class="control-label"></label>
                    <input asp-for="idPuesto" class="form-control" />
                    <span asp-validation-for="idPuesto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="idEmpleado" class="control-label"></label>
                    <input asp-for="idEmpleado" class="form-control" />
                    <span asp-validation-for="idEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaPostulacion" class="control-label"></label>
                    <input asp-for="FechaPostulacion" class="form-control" />
                    <span asp-validation-for="FechaPostulacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="estadoPostulacion" class="control-label"></label>
                    <input asp-for="estadoPostulacion" class="form-control" />
                    <span asp-validation-for="estadoPostulacion" class="text-danger"></span>
                </div>
                <div class="form-group text-right">
                    <a asp-action="ConsultarPostulaciones" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}