@model CasoPracticoWeb.Entities.EmpresasEnt

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container__form" style="height: 55vh;">
    <form asp-action="RegistrarEmpresas">
        <h2>Registrar empresa</h2>
        <div class="content">
            <div class="input-box">
                <label>Nombre de la empresa</label>
                <input type="text" placeholder="Ingresa el nombre de la empresa" asp-for="nombreEmpresa" />
            </div>
            <div class="input-box">
                <label>Id del usuario</label>
                <input type="text" placeholder="Ingresa el id del usuario" asp-for="idUsuario" />
            </div>
            <div class="input-box">
                <label>Direccion</label>
                <input type="text" placeholder="Ingresa la direccion de la empresa" asp-for="direccion" />
            </div>
            <div class="input-box">
                <label>Descripcion</label>
                <input type="text" placeholder="Ingresa la descripcion de la empresa" asp-for="descripcion" />
            </div>
            <div class="input-box">
                <label>URL del sitio web</label>
                <input type="text" placeholder="Ingresa el url de la pagina" asp-for="sitioWeb" />
            </div>
            <div class="input-box">
                <label>Telefono</label>
                <input type="text" placeholder="Ingresa el telefono" asp-for="telefono" />
            </div>
            <div class="input-box">
                <label>Correo</label>
                 <input type="text" placeholder="Ingresa el correo" asp-for="correo" />
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Registrar</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
